## Week 3 Assignment Part 1
### Extract data from wikipedia

In [1]:
import pandas as pd

#### Extract data for wikipedia

In [27]:
wiki_list = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M',header=0)
df = wiki_list[0]
df

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

#### Clean data

In [28]:
#Filter out Not assigned postal codes
df_filter = df[df['Borough'] != 'Not assigned']
df_filter

,Postal Code,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [38]:
# Find Repeating postal codes
# Row count by Postal Code
counts = df_filter.groupby('Postal Code').size().reset_index(name='counts')
counts.head()

  Postal Code  counts
0         M1B       1
1         M1C       1
2         M1E       1
3         M1G       1
4         M1H       1

In [44]:
#Get Postal Code with row count > 1
counts[counts['counts'] > 1]

Empty DataFrame
Columns: [Postal Code, counts]
Index: []

There is no Postal Code with multiple rows. No need to clean data more.

### Final Cell

In [47]:
df_filter.shape

(103, 3)